.dashboard-side-container {
  @include span-columns(3 of 12);
}

.dashboard-top-container {
  @include span-columns(8 of 12);
}

.dashboard-bottom-container {
  @include span-columns(12);

  .tutorial {
    @include span-columns(5 of 12);
  }

  .video {
    @include span-columns(5 of 12);
  }

  .video-wrapper {
    border: 1px dashed green;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;

    embed,
    object,
    iframe {
      @include position(absolute, 0px null null 0px);
      @include size(100%);
    }
  }
}
