$cr-dark-blue: #2c3e50; 

body {
  padding-top: 150px;
  -webkit-transition: padding-top .3s;
  -moz-transition: padding-top .3s;
  transition: padding-top .3s;
}

@media screen and(max-width:768px) {
  body {
    padding-top: 100px;
  }
}

.cr-body {
  background-color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**** Navbar ****/
@media screen and(max-width:768px) {
  .navbar.cr-navbar {
    padding: 0px !important;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    .cr-logo {
      margin-top: 0px !important;
      font-size: 1.3em !important;
      -webkit-transition: font-size .1s;
      -moz-transition: font-size .1s;
      transition: font-size .1s;
    }
  }
}

@media screen and(min-width:768px) {
  .navbar-fixed-top {
      padding: 25px 0;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
  }
  .navbar-fixed-top .cr-logo {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }
  .navbar-fixed-top.navbar-shrink {
      padding: 0 !important;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
      font-size: 1.5em !important;
  }
}

.navbar.cr-navbar {
  padding: 25px;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
  transition: padding .3s;
  background-color: $cr-dark-blue;
  .cr-logo {
    font-size: 2em;
    -webkit-transition: font-size .3s;
    -moz-transition: font-size .3s;
    transition: font-size .3s;
    font-weight: 700;
    margin-left: 0px !important; /* Left margin reset */
    text-transform: uppercase;
    word-spacing: 30px;
    letter-spacing: 1.6px;
  }
  .cr-navbar-right {
    margin-right: 0px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  a:hover {
    color: #18bc9c !important;
  }

  a:focus {
    color: #18bc9c !important;
  }
}

/**** Dashboard ****/
.cr-dashboard-row-1 {
  float: none;
}

.gravatar-info {
  font-size: 12px;
}

.cr-tabset {
  background-color: yellow;
  .cr-tab{
    color: black;
  }
}

.dashboard-chart {
  background-color: #1D83C1;
}

.panel-body.dashboard-game1 {
  background-color: #18BC9C;
  padding: 45px;
}

.dashboard-second-row {
  margin-top: 15px;
}

button.btn.btn-primary.btn-lg.learn-more-btn {
  margin-bottom: 10px;
}


.play-button-1 {
  background-color: #D70206;
  border-color: #D70206;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2em;
  width: 40%;
}

.game1-panel {
  width: 100%;
}

#remove-border {
  border-radius: 0px;
}

#gameview {
  margin-left: 47px;
  margin-top: 40px;
}

