$cr-dark-blue: #2c3e50; 
$cr-aquamarine: #18BC9C;

body {
  padding-top: 150px;
}

.cr-body {
  background-color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and(max-width:768px) {
  .navbar.cr-navbar {
    padding: 0px !important;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    .cr-logo {
      margin-top: 0px !important;
      font-size: 1.3em !important;
      -webkit-transition: font-size .1s;
      -moz-transition: font-size .1s;
      transition: font-size .1s;
    }
  }

  .sign-form {
    width: 100%;
  }
}

@media screen and(min-width:768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-fixed-top .cr-logo {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-fixed-top.navbar-shrink {
    padding: 0 !important;
  }

  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em !important;
  }

  .sign-form {
    position: relative;
    width: 185%;
  }
}

.navbar.cr-navbar {
  padding: 25px;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
  transition: padding .3s;
  background-color: $cr-dark-blue;
  .cr-logo {
    font-size: 2em;
    -webkit-transition: font-size .3s;
    -moz-transition: font-size .3s;
    transition: font-size .3s;
    font-weight: 700;
    margin-left: 0px !important; /* Left margin reset */
    text-transform: uppercase;
    word-spacing: 30px;
    letter-spacing: 1.6px;
  }
  .cr-navbar-right {
    margin-right: 0px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  a:hover {
    color: #18bc9c !important;
  }

  a:focus {
    color: #18bc9c !important;
  }
}

.dashboard-first-row {
  margin-top: 30px;
}

.dashboard-chart {
  background-color: #BDBDBD;
  border-radius: 2px;
}

.dashboard-game1 {
  background-color: #78C2A6;
  border-radius: 5px;
}

.dashboard-second-row {
  margin-top: 25px;
}

button.btn.btn-primary.btn-lg.learn-more-btn {
  margin-bottom: 10px;
}

.gravatar-info {
  font-size: 12px;
}

.play-button-1 {
  background-color: #D70206;
  border-color: #D70206;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2em;
  width: 40%;
}

.game1-panel {
  width: 98.7%;
}

#remove-border {
  border-radius: 0px;
}

#gameview {
  margin-left: 47px;
  margin-top: 40px;
}

img {
  border-radius: 2px;
}

.custom-panel-header {
  background-color: $cr-dark-blue !important;
  border-color:     $cr-dark-blue !important;
}

.login-signup-text {
  font-size: 1.5em !important;
}

.about {
  color: white;
  background-color: $cr-aquamarine;
  margin-top: 75px;
  width: 100%;
  padding: 80px;
}





