$cr-dark-blue: #2c3e50; 

.cr-body {
  background-color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar.cr-navbar {
  height: 110px;
  background-color: $cr-dark-blue;

  .cr-logo {
    font-size: 2em;
    font-weight: 700;
    /* Left margin reset */
    margin-left: 90px !important;
    margin-top: 25px;
    text-transform: uppercase;
    word-spacing: 30px;
    letter-spacing: 1.6px
  }
  .cr-navbar-right {
    margin-top: 23px;
    margin-right: 0px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  a:hover {
    color: #18bc9c !important;
  }
}

.dashboard-first-row {
  margin-top: 30px;
}

.dashboard-chart {
  background-color: #BDBDBD;
  border-radius: 2px;
}

.dashboard-game1 {
  background-color: #78C2A6;
  border-radius: 5px;
}

.dashboard-second-row {
  margin-top: 25px;
}

button.btn.btn-primary.btn-lg.learn-more-btn {
  margin-bottom: 10px;
}

.gravatar-info {
  font-size: 12px;
}

.play-button-1 {
  background-color: #D70206;
  border-color: #D70206;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2em;
  width: 40%;
}

.game1-panel {
  width: 98.7%;
}

#remove-border {
  border-radius: 0px;
}

#gameview {
  margin-left: 47px;
  margin-top: 40px;
}

img {
  border-radius: 2px;
}

