<div class="row dashboard-first-row">
  <div class="col-md-3">
    <img gravatar-src="user.email" gravatar-size="150">
    <br>
    <a href="https://en.gravatar.com/site/login">Upload image with Gravatar</a>

    <h4>Hello, {{ user.username }}!</h4>

  </div>
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body dashboard-chart">
        <div ng-controller="DashboardCtrl as chartist">
          <chartist class="ct-chart" 
                    chartist-data="chartist.lineData" 
                    chartist-chart-type="Line"
                    chartist-chart-options="chartist.options"
                    chartist-events="chartistEvents">
          </chartist>
        </div>
        <h5 style="color: black;">Average Score: {{ avgScore }}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row dashboard-second-row">
  <div class="panel panel-default">
    <div class="panel-body dashboard-game1">
      <div class="col-md-4">
        <img src="/images/game-thumbnail.jpeg" 
             width="300px" 
             class="image-responsive"
             alt="Game thumbnail">
      </div>
      <div class="col-md-5 col-md-offset-3 game1-text">
        <h2>Tutorial</h2>
        <p>Collect all the bubbles that contain the correct scale notes
          and avoid the bad notes</p>
        <p>Try to reach the top<p>
        <button ng-click="goToGame()" class="btn-danger play-button-1">Play game</button>
      </div>
    </div>
  </div>
</div>

