<div class="dashboard-side-container">
  <img gravatar-src="user.email" gravatar-size="130">
  <br>
  <a href="https://en.gravatar.com/site/login">Upload image with Gravatar</a>

  <h2>Hello, {{ user.username }}!</h2>
  <h2>Average Score: {{ avgScore }}</h2>
</div>

<div class="dashboard-top-container">
  <div class="tutorial">
    <ul class="accordion-tabs">
      <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="is-active tab-link">Tab Item</a>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="tab-link">Third</a>
        <div class="tab-content">
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
        </div>
      </li>
    </ul>

    <button ng-click="goToGame()" class="menu-button">Play game</button>
  </div>
</div>


<div class="dashboard-bottom-container">
 <div ng-controller="DashboardCtrl as chartist">
    <chartist class="ct-chart dashboard-chart" 
              chartist-data="chartist.lineData" 
              chartist-chart-type="Line"
              chartist-chart-options="chartist.options">
    </chartist>
  </div>
</div>

