<div class="text-center">
  <h1>Create a Profile</h1>
</div>
<br>
<br>
<div class="col-sm-4"></div>
<div class="col-sm-7">
  <form name="registrationForm" ng-submit="register()" novalidate>
    <div class="form-group col-sm-7">
      <input type="username"
             name="username"
             class="form-control"
             placeholder="Username"
             ng-model="user.username"
             ng-maxlength="40"
             required>
      <div ng-messages="registrationForm.username.$error">
        <div class="text-danger" ng-message="required">You forgot to enter your username...</div>
        <div class="text-danger" ng-message="maxlength">Your username is too long...</div>
      </div>
    </div>
    <div class="form-group col-sm-7">
      <input type="email"
             name="email"
             class="form-control"
             placeholder="Email"
             ng-model="user.email"
             ng-minlength="5"
             ng-maxlength="40"
             required>
      <div ng-messages="registrationForm.email.$error">
        <div class="text-danger" ng-message="required">You forgot to enter your email address...</div>
        <div class="text-danger" ng-message="minlength">Your email address is too short...</div>
        <div class="text-danger" ng-message="maxlength">Your email address is too long...</div>
        <div class="text-danger" ng-message="email">You did not enter your email address correctly...</div>
      </div>
    </div>

    <div class="form-group col-sm-7">
      <input type="password"
             name="password"
             class="form-control"
             placeholder="Password"
             ng-model="user.password"
             ng-minlength="4"
             ng-maxlength="20"
             required>
      <div ng-messages="registrationForm.password.$error">
        <div class="text-danger" ng-message="required">You forgot to enter your password address...</div>
        <div class="text-danger" ng-message="minlength">Your password is too short...</div>
        <div class="text-danger" ng-message="maxlength">Your password is too long...</div>
    </div>
    <br>
    <button type="submit"
            class="btn btn-primary"
            ng-disabled="registrationForm.$invalid">Sign Up</button>
    <br>
    <br>
    <a ui-sref="login">Already a member?</a>
  </form>
</div>


